<div class="main">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="title">
        {{messages.title}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/main.jpg">
    <mat-card-content>
      <form *ngIf="!loading"
            class="form"
            (submit)="onSubmit()">
        <section class="inputs-container">
          <mat-form-field>
            <input matInput name="firstName" [ngModel]="firstName" placeholder="First Name"
                   (ngModelChange)="firstName = $event" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="lastName" [ngModel]="lastName" placeholder="Last Name"
                   (ngModelChange)="lastName = $event" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="age" [ngModel]="age" placeholder="Age" (ngModelChange)="age = $event" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput name="height" [ngModel]="height" placeholder="Height (cm)" (ngModelChange)="height = $event"
                   required>
          </mat-form-field>
          <label for="gender">{{messages.genderLabel}}</label>
          <mat-radio-group id="gender" class="gender" name="gender" [ngModel]="gender" (ngModelChange)="gender = $event">
            <mat-radio-button value="M">M</mat-radio-button>
            <mat-radio-button value="F">F</mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="fill">
            <mat-label>{{messages.nationalityLabel}}</mat-label>
            <mat-select matInput [ngModel]="nationality" name="nationality" required (ngModelChange)="nationality = $event">
              <mat-option *ngFor="let option of nationalities" [value]="option.value">{{option.value}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="errors">
            {{messages.errorMessage}}
          </mat-error>
          <div class="submit-container">
            <button mat-stroked-button color="primary" type="submit">{{messages.submit}}</button>
          </div>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</div>
