<div class="main">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="title">
        {{messages.opinionTitleFirst}} {{firstName}} {{lastName}} {{messages.opinionTitleLast}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src='{{photoUrl}}'>
    <mat-card-content>
      <div class="back-container">
        <button mat-stroked-button color="primary" type="button" (click)="onBack()">{{messages.back}}</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
